@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  background-color: #EBF5FB;

}

.navbar-toggler {
  margin: 20px;
  border: 0 !important;
  color: #FFFFFF00 !important;
}

.navbar-toggler-icon {
  width: 3rem !important;
}

.offcanvas {
  font-family: 'Quicksand', sans-serif;
}

.offcanvas-header {
  color: #5A8CAB;
  font-weight: 600;
  font-size: 2rem;
  margin: 20px 20px 0px 20px;
}

.offcanvas-body {
  margin-left: 30px;
  line-height: 3.5rem;
  font-size: 1.5rem;
}

.navbar-nav .nav-item a {
  text-decoration: none;
  color: #627084;
}

.navbar-nav .nav-item a:hover {
  color: #5A8CAB;
}

.area {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: url("../img/cloud1.svg"), url("../img/cloud2.svg"), #EBF5FB;
  animation: cloudmove 8s infinite linear;
  -webkit-animation: cloudmove 8s infinite linear;
}

@keyframes cloudmove {
  0% {
    background-position: 0% 0%, 20% 0%, 0% 0%;
  }

  50% {
    background-position: 20% 0%, 0% 0%, 0% 0%;
  }

  100% {
    background-position: 0% 0%, 20% 0%, 0% 0%;
  }
}

@-webkit-keyframes cloudmove {
  0% {
    background-position: 0% 0%, 20% 0%, 0% 0%;
  }

  50% {
    background-position: 20% 0%, 0% 0%, 0% 0%;
  }

  100% {
    background-position: 0% 0%, 20% 0%, 0% 0%;
  }
}

section {
  padding: 30px 0 50px 0;
}

.section-title {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #807A79;
}

.section-content {
  padding-top: 80px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #807A79;
}

.welcome {
  padding-top: 180px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #807A79;
}

.welcome h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.5em;
}

.welcome h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5em;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.lab-name {
  padding-top: 1.5rem;
}

.arrows {
  width: 60px;
  height: 72px;
}

.section-arrow {
  padding: 80px 0 50px 0;
  text-align: center;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
  {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}


label a:hover {
  color: #FFF;
  text-decoration: none;
}

.modal {
  font-family: 'Quicksand', sans-serif;
  color: #807A79;
}

.card {
  width: 80% !important;
  border-radius: 15px !important;
  transition: 0.4s;
  cursor: pointer;
}

.card:hover {
  background-color: #ffffffdd;
  box-shadow: 0 0 20px 13px #dddddd;
  -webkit-box-shadow: 0 0 20px 13px #dddddd;
  -moz-box-shadow: 0 0 20px 13px #dddddd;
}

.card-img-top {
  width: 70% !important;
  margin-top: 20px;
}

.card-title {
  font-size: 1.3rem;
}

.card-row {
  padding-bottom: 15px;
}

.carousel-inner {
  border-radius: 10px;
  box-shadow: 0 10px 20px 5px #dddddd;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
  border: 0;
  background-color: #ffffff00;
}

.carousel-caption {
  background-color: #00000088;
}

.papers {
  text-align: left;
  font-size: 1.3rem;
  background-color: #ffffff88;
  padding: 25px;
  border-radius: 10px;
}

.papers ul li {
  padding-bottom: 18px;
}

.paper-topic {
  color: #5a8cab;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
}

.department {
  text-align: left;
}

.team4 {
  font-family: 'Quicksand', sans-serif;
  color: #807A79;
  font-weight: 300;
  padding-top: 50px;
}

.team4 h5 {
  line-height: 36px;
  font-size: 24px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 1rem;
}

.professor-photo {
  transition-duration: 0.4s;
}

.professor-photo:hover {
  box-shadow: 0 0 50px #cccccc30;
  transform: translate(0) scale(1.05);
  opacity: 0.4;
}

.team-view {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 2rem;
}

.team-view-show {
  opacity: 1;
}

#members {
  padding-top: 40px;
}

.data-card {
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2rem 0 0.5rem 0;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}

.data-card h3 {
  color: #2e3c40;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #5A8CAB;
  transition: color 0.45s ease, border 0.45s ease;
}

.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color 0.45s ease;
}

.data-card:hover {
  background-color: #5A8CAB;
  transform: scale(1.02);
}

.data-card:hover h3 {
  color: #ffffff;
  border-bottom-color: #D4E6F1;
}

.data-card:hover h4 {
  color: #ffffff;
}

@-webkit-keyframes point {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0.125em);
  }
}

.footer {
  font-family: 'Quicksand', sans-serif;
  background-color: #355d76c0;
  color: #FFF;
  text-align: center;
  padding-bottom: 25px;
}

.copyright {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #D6D6D6;
}

/* ipad 橫 */
@media screen and (max-width: 1200px) {
  .welcome {
    padding-top: 100px;
  }

  .research-card {
    padding-top: 120px;
  }

  .card {
    width: 100% !important;
  }

  .paper-topic {
    font-size: 1.4rem;
  }

  .papers {
    font-size: 1.2rem;
  }

  #members {
    padding-top: 20px;
  }

}

/* ipad 直 */
@media screen and (max-width: 1000px) {
  .welcome {
    padding-top: 200px;
  }

  .research-card {
    padding-top: 80px;
  }

  .card {
    width: 85% !important;
  }
}

/* 手機 */
@media screen and (max-width: 576px) {
  .welcome {
    padding-top: 130px;
  }

  .welcome h1 {
    font-size: 3rem;
  }

  .welcome h2 {
    font-size: 2rem;
    line-height: 1.2em;
  }

  .lab-name {
    padding-top: 3rem;
  }

  .paper-topic {
    font-size: 1.2rem;
  }

  .papers {
    font-size: 1rem;
  }
}