<div class="noselect section-title">About Us</div>
<div class="py-5 team4">
<div class="container">
    <div class="row">
        <div class="col-1 mb-4"></div>
        <div class="col-10 col-md-4 col-lg-3 mb-4">
            <div class="row">
              <div class="col-md-12">
                <img src="static/img/acpang.jpg" alt="acpang" class="img-fluid rounded-circle" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Ai-Chun, Pang (逄愛君)</h5>
                  <h6 class="subtitle mb-3">Professor</h6>
                  <ul class="department">
                    <li>Department of Computer Science & Information Engineering</li>
                    <li>Graduate Institute of Networking and Multimedia</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <div id="members" class="col-1 mb-4">
            
        </div>
    </div>
</div>