<div class="noselect section-title">About Us</div>
<div class="team4">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="mt-4 mb-5">Advisor</h2>
          </div>
          <div class="col-md-12 team">
            <div class="team-view">
              <h4>VIEW</h4>
            </div>
            <a href="https://www.csie.ntu.edu.tw/~acpang/" target="_blank" class="professor-photo">
              <img src="static/img/acpang.jpg" alt="acpang" class="img-fluid rounded-circle professor-photo" />
            </a>
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 mb-0">Ai-Chun, Pang<br>逄愛君</h5>
              <h6 class="subtitle mt-1 mb-3">Professor</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 col-md-1 col-lg-1"></div>
      <div class="col-12 col-md-6 col-lg-7 members">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="m-4 ">Members</h2>
            <div id="members"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="static/js/about.js"></script>
<script>
  init();
</script>