<div class="noselect section-title">Projects</div>
<div class="container-fulid">
    <div class="row">
        <div class="col-sm-1 col-xl-2"></div>
        <div class="col-sm-10 col-xl-8 section-content">
            <div class="project-tab">
                <nav>
                    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-sdn-tab" data-bs-toggle="tab" data-bs-target="#nav-sdn" type="button"
                            role="tab" aria-controls="nav-sdn" aria-selected="true">以 SDN-NFV 帶動 IoT 與 5G 之創新與服務</button>
                        <button class="nav-link" id="nav-omnieyes-tab" data-bs-toggle="tab" data-bs-target="#nav-omnieyes" type="button"
                            role="tab" aria-controls="nav-omnieyes" aria-selected="false">OmniEyes - AI 動態圖資應用</button>
                    </div>
                </nav>
            </div>
            <div class="project-content">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-sdn" role="tabpanel" aria-labelledby="nav-sdn-tab" tabindex="0">
                        <iframe src="https://www.youtube.com/embed/xrJDly0ex_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="tab-pane fade" id="nav-omnieyes" role="tabpanel" aria-labelledby="nav-omnieyes-tab" tabindex="0">
                        <iframe src="https://www.youtube.com/embed/2g414-q01uw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-xl-2"></div>
    </div>
</div>