<div class="noselect section-title">Publications<br>
    <h2>(Recent 5 years)</h2>
</div>
<div class="container-fulid">
    <div class="row">
        <div class="col-sm-1 col-xl-2"></div>
        <div class="col-sm-10 col-xl-8 section-content transparent-bg">
            <div id="paper-list" class="papers"></div>
            <div class="btn-more">
                <a class="btn btn-secondary" href="https://scholar.google.com/citations?user=s3BI_wcAAAAJ&hl=zh-TW" target="_blank">MORE</a>
            </div>
        </div>
        <div class="col-sm-1 col-xl-2"></div>
    </div>
</div>

<script src="static/js/publications.js"></script>
<script>
    init();
</script>