<div class="noselect section-title">Research Topics</div>
<div class="container-fulid">
    <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10 section-content research-card">
            <div class="container-fulid">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3 d-flex card-row">
                        <center>
                        <div class="card h-100">
                            <img class="card-img-top mx-auto" src="static/img/research/FL.png">
                            <div class="card-body">
                              <h5 class="card-title">Edge Intelligence (EI)</h5>
                              <p class="card-text">Embrace innovative and privacy-preserved services on the federated edge.</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                        </center>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 d-flex card-row">
                        <center>
                        <div class="card h-100">
                            <img class="card-img-top mx-auto" src="static/img/research/TSN.png">
                            <div class="card-body">
                              <h5 class="card-title">Time-Sensitive Networking (TSN)</h5>
                              <p class="card-text">Toward precise and reliable networks in industrial automation.</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                        </center>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 d-flex card-row">
                        <center>
                        <div class="card h-100">
                            <img class="card-img-top mx-auto" src="static/img/research/SDN.png">
                            <div class="card-body">
                              <h5 class="card-title">Software-Defined Networking (SDN)</h5>
                              <p class="card-text">Realize programmable, flexible, and scalable virtualized networks.</p>
                            </div>
                        </div>
                        </center>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 d-flex card-row">
                        <center>
                        <div class="card h-100">
                            <img class="card-img-top mx-auto" src="static/img/research/blockchain.png">
                            <div class="card-body">
                              <h5 class="card-title">Blockchain</h5>
                              <p class="card-text">Provide secure and decentralized networks for future applications.</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>
</div>